.App {
  text-align: center;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 500px;
  background-color: rgb(202, 229, 132);
  color: black;
}

.App-header {
  background-color: lavender;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Movie-search {
  height: 48px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 475px;
}

.Movie-title {
  margin-top: 24px;
  font-weight: bold;
}

.Movie-date {
  margin-top: 20px;
  font-style: italic;
  font-size: 8mm;

}

.Movie-rate {
  color: red;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 7mm;
  text-decoration: underline;

}